:root{
    --black: #0A0A0A;
    --dark-black: #191919;
    --dark-gray: #353535;
    --gray: #939393;
    --white: #DBDAD6;
    --font-fam: Helvetica;
    --font-fam2: "Lora", serif;
    --fs-18: 1.125rem;
    --fs-88: 8rem;
    --fs-72: 4.5rem;
    --fs-40: 2.5rem;
    --fs-48: 3rem;
    --fs-32: 2rem;
    --fs-28: 2rem;
    --fs-24: 2rem;
    --container: 69.375rem;
}

/* Heading Style */
h1{
    font-size: var(--fs-88);
    font-family: var(--font-fam);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

h2{
    font-size: var(--fs-48);
    font-family: var(--font-fam);
}

h3{
    font-size: var(--fs-24);
    font-family: var(--font-fam);
}

h4{
    font-size: var(--fs-28);
    font-family: var(--font-fam2);
    font-weight: 400;
}

p{
    font-family: var(--font-fam);
    font-size: var(--fs-18);
    line-height: 28px;
}

html{
    box-sizing: border-box;
    font-size: 100%;
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
    height: 100%;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    min-height: 100vh;
    font-family: var(--font-fam);
    font-size: var(--fs-18);
}

li{
    list-style: none;
    padding: 0.625rem 0;
}

/* SCPLASH SCREEN EFFECT */
#splash-screen {
    position: fixed;
    z-index: 9999;
    background-color: var(--dark-black);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.8s ease, visibility 0.8s ease;
    opacity: 1;
    visibility: visible;
}

.splash-content {
    position: relative;
    width: 250px; 
    height: 250px;
}

.splash-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;  
    height: 150px;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: beat 1.6s ease-in-out infinite;
    will-change: transform;
}

.spin-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;   
    height: 250px;
    animation: spin 3s linear infinite;
    z-index: 1;
    will-change: transform;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes beat {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

body.loading {
    overflow: hidden;
}

body.loaded #splash-screen {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* HEADER */
header{
    position: sticky;
    top: 0;
    padding: 0 2rem;
    background-color: transparent;
    outline: 2px solid transparent;
    transition: background-color 0.4s ease-in-out;
    transition: outline 0.4s ease-in-out;
}

header.scrolled {
    background-color: var(--white);
    outline: 2px solid var(--black);
    z-index: 9999;
}

.navbar{
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 2rem;
    margin-top: 0.75rem;
}

.tab-menu{
    display: flex;
    outline: 2px solid var(--black);
    border-radius: 999px;
    width: fit-content;
}

.left-link{
    text-decoration: none;
    color: var(--black);
    font-size: var(--fs-18);
    background-color: transparent;
    outline: 2px solid transparent; 
    border-radius: 999px 0 0 999px;
    padding: 0.625rem 2.5rem;
    transition: 0.25s;
}

.left-link:hover{
  background-color: var(--dark-gray); 
  color: var(--white); 
  outline: 2px solid var(--black);
  transition: 0.25s;
}

.links{
    text-decoration: none;
    color: var(--black);
    font-size: var(--fs-18);
    background-color: transparent;
    outline: 2px solid transparent; 
    padding: 0.625rem 2.5rem;
    transition: 0.25s;
}

.links:hover{
    background-color: var(--dark-gray); 
    color: var(--white);
    outline: 2px solid var(--black); 
    transition: 0.25s;
}

.right-link{
    text-decoration: none;
    color: var(--black);
    font-size: var(--fs-18);
    background-color: transparent;
    outline: 2px solid transparent; 
    border-radius: 0 999px 999px 0;
    padding: 0.625rem 2.5rem;
    transition: 0.25s;
}

.right-link:hover{
  background-color: var(--dark-gray); 
  color: var(--white); 
  outline: 2px solid var(--black);
  transition: 0.25s;
}

.active {
  background-color: var(--dark-gray);
  color: var(--white);
  outline: 2px solid var(--black);
  transition: none;
}

/* BUTTON STYLE */
.toggle-btn{
    display: none;
    color: var(--black);
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.25s;
}

.toggle-btn:hover{
  color: var(--gray);  
  transition: 0.25s;
}

.primary-btn{
    background-color: var(--dark-gray);
    color: var(--white);
    outline: 2px solid var(--black);
    text-decoration: none;
    font-family: var(--font-fam);
    font-size: var(--fs-18);
    border-radius: 999px;
    border-style: none;
    box-shadow: 0px 18px 40px -12px var(--gray);
    padding: 0.625rem 2rem;
    cursor: pointer;
    transition: 0.25s;
}

.primary-btn:hover{
    color: var(--black);
    background-color: transparent;
    outline: 2px solid var(--black);
    transition: 0.25s;
}

.secondary-btn{
    color: var(--black);
    background-color: var(--white);
    outline: 2px solid var(--black);
    text-decoration: none;
    font-family: var(--font-fam);
    font-size: var(--fs-18);
    border-radius: 999px;
    border-style: none;
    box-shadow: 0px 18px 40px -12px var(--gray);
    padding: 0.625rem 2rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: 0.25s;
}

.secondary-btn:hover{
    color: var(--white);
    background-color: var(--dark-gray);
    outline: 2px solid var(--black);
    transition: 0.25s;
}


.dropdown-btn{
    display: flex;
    background-color: var(--dark-gray);
    color: var(--white);
    outline: 2px solid var(--black);
    text-decoration: none;
    font-family: var(--font-fam);
    font-size: var(--fs-18);
    border-radius: 999px;
    border-style: none;
    padding: 0.625rem 2rem;
    width: 16rem;
    justify-content: center;
    cursor: pointer;
}

.dropdown-btn:hover{
    color: var(--black);
    background-color: transparent;
    outline: 2px solid var(--black);
    transition: 0.25s;
}

/* DROPDOWN MENU */
.dropdown-menu{
    position: absolute;
    right: 1rem;
    top: 70px;
    height: 0;
    width: 300px;
    background: var(--white);
    box-shadow: 0px 10px 40px -12px var(--gray);
    border-radius: 30px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open{
    height: 240px;
    outline: 2px solid var(--black);
}

.drop-links{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-a{
    text-decoration: none;
    color: var(--black);
    font-size: var(--fs-18);
}

.drop-a:hover{
    color: var(--gray);
    transition: 0.20s;
}

/* HOME SECTION */
#home{
    display: flex;
    margin-top: -5rem;
    background-image: url(../assets/Background/Background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh + 100px); /* subtract header height */
    
}

.cover{
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

/* ABOUT SECTION */
#about{
    background-color: var(--dark-black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
    font-family: var(--font-fam);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    box-shadow: 0px 18px 40px -12px var(--black);
    margin-top: -5rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 1rem;
    gap: 40px;
}

.profile-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100vw;
    gap: 40px;
}

.profile{
    width: 20rem;
}

.about-content{
    flex: 1;
    margin-top: 2rem;
}

.text-about{
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: justify;
}

hr{
    width: 100%;
    border: none;
    border-top: 2px solid var(--dark-gray);
}

.software-container{
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;

    /* FLEX-BOX STYLE*/
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

}

.box{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 250px;
    height: 200px;
    background: var(--dark-gray);
    justify-content: center;
    align-items: center;
    margin: 15px;
    box-sizing: border-box;
    box-shadow: 0px 18px 40px -12px #000000;
    border-radius: 30px;
    transition: 1s;
}

.box:hover{
    transform: scale(1.1);
    transition: 0.25s;
}

.software-icon{
    height: 4rem;
}

/* PROJECTS SECTION */
#projects{
    margin-top: -5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    text-align: center;
    background-color: var(--white);
    box-shadow: 0px -18px 40px -12px var(--black);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    overflow: visible;
}

.project-tabs{
    display: flex;
    outline: 2px solid var(--black);
    border-radius: 999px;
    width: fit-content;
}

.web-link{
    text-decoration: none;
    color: var(--black);
    font-size: var(--fs-18);
    background-color: transparent;
    outline: 2px solid transparent; 
    border-radius: 999px 0 0 999px;
    padding: 0.625rem 2.5rem;
    transition: 0.25s;
}

.web-link:hover{
  background-color: var(--dark-gray); 
  color: var(--white); 
  outline: 2px solid var(--black);
  transition: 0.25s;
}

.graphic-link{
    text-decoration: none;
    color: var(--black);
    font-size: var(--fs-18);
    background-color: transparent;
    outline: 2px solid transparent; 
    padding: 0.625rem 2.5rem;
    transition: 0.25s;
}

.graphic-link:hover{
    background-color: var(--dark-gray); 
    color: var(--white);
    outline: 2px solid var(--black); 
    transition: 0.25s;
}

.tridi-link{
    text-decoration: none;
    color: var(--black);
    font-size: var(--fs-18);
    background-color: transparent;
    outline: 2px solid transparent; 
    padding: 0.625rem 2.5rem;
    transition: 0.25s;
}

.tridi-link:hover{
    background-color: var(--dark-gray); 
    color: var(--white);
    outline: 2px solid var(--black); 
    transition: 0.25s;
}

.visual-link{
    text-decoration: none;
    color: var(--black);
    font-size: var(--fs-18);
    background-color: transparent;
    outline: 2px solid transparent; 
    border-radius: 0 999px 999px 0;
    padding: 0.625rem 2.5rem;
    transition: 0.25s;
}

.visual-link:hover{
  background-color: var(--dark-gray); 
  color: var(--white); 
  outline: 2px solid var(--black);
  transition: 0.25s;
}

.active {
  background-color: var(--dark-gray);
  color: var(--white);
  outline: 2px solid var(--black);
  transition: none;
}

.hidden {
  display: none !important;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 100;
    }
}


.project-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.project-grid{
    --gap: 16px;
    --num-cols: 3;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);
    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
    border-radius: 30px;
}

.proj-hover{
    width: 100%;
    position: relative;
    height: 100%;
}

.project-grid > a{
    height: 100%;
}

.project-grid > a > .proj-hover > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.proj-content{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #0a0a0ac9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    border-radius: 30px;
    transition: 0.25s ease-in-out;
    color: var(--white);
    gap: 1rem;
    padding: 2.5rem;
}

.proj-content:hover{
    opacity: 100%;
}

.proj-content > *{
    transform: translateY(25px);
    transition: 0.25s ease-in-out;
}

.proj-content:hover > *{
    transform: translate(0px);
}

.proj-content-primary{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #0a0a0ac9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    border-radius: 30px;
    transition: 0.25s ease-in-out;
    color: var(--white);
    gap: 0.5rem;
    padding: 5rem;
}

.proj-content-primary:hover{
    opacity: 100%;
}

.proj-content-primary > *{
    transform: translateY(25px);
    transition: 0.25s ease-in-out;
}

.proj-content-primary:hover > *{
    transform: translate(0px);
}

.proj-header{
    font-size: var(--fs-48);
    font-family: var(--font-fam);
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.primary-image{
    grid-column: span 2;
    grid-row: span 2;
}



/* SERVICES SECTION */
#services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    background-color: var(--dark-gray);
    color: var(--white);
    padding-top: 3rem;
    overflow: visible;
}


.service-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 570px;
    height: 360px;
    background: var(--white);
    color: var(--black);
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 5rem;
    box-sizing: border-box;
    box-shadow: 0px 18px 40px -12px #000000;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box:hover{
    transform: translateY(-10px);
    box-shadow: 0px 36px 40px -12px #000000;
}

.service-name{
    display: flex;
    flex-direction: row;
    margin-right: auto;
    align-items: center;
    gap: 20px;
}

.text-service{
    text-align: justify;
}

/* CONTACTS SECTION */
#contacts{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/Background/Background.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    overflow: visible;
}

.cover-contact{
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
}

.avatar{
    width: 12rem;
    margin-bottom: 1rem;
}

.availability {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    }

.status-dot {
    --active-color: #00c853;
    --inactive-color: #c80000;
    width: 10px;
    height: 10px;
    background-color: var(--active-color);
    outline: 2.5px solid rgb(243, 243, 243);
    border-radius: 50%;
    box-shadow: 0 0 5px var(--active-color);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.5); opacity: 0.6; }
  100% { transform: scale(1); opacity: 1; }
}

.in-touch{
    margin-top: 5rem;
}

.in-touch-contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;  
}

.contacts-icon{
    margin-right: 10px;
}

footer{
    display: flex;
    background: var(--dark-black);
    color: var(--white);
    align-items: center;
    justify-content: center;
}

.foot-wrap{
    display: flex;
    background: var(--dark-black);
    color: var(--white);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    max-width: 1200px;
    margin-left: 2rem;
    margin-right: 2rem;
}

.social-icon{
    margin: 0.5rem;
}

.text-copyright{
    font-size: 0.75rem;
}

/* RESPONSIVE STYLE */
@media (max-width: 992px){
    h1{
        font-size: 6rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    h2{
        font-size: 2.5rem;
    }

    h3{
        font-size: 1.5rem;
    }

    h4{
        font-size: 1.5rem;
    }

    p{
        line-height: 24px;
    }

    .text-about{
        font-size: 1rem;
    }

    .tab-menu{
        display: none;
    }

    .primary-btn{
        display: none;
    }

    .toggle-btn{
        display: block;
    }

    .dropdown-menu{
        display: block;
    }

    .profile{
        width: 15rem;
    }

    #about{
        border-top-left-radius: 48px;
        border-top-right-radius: 48px;
    }

    .box{
        width: 220px;
        height: 170px;
        border-radius: 24px;
    }
    
    #projects{
        border-top-left-radius: 48px;
        border-top-right-radius: 48px;
    }
    
    .project-tabs{
    display: flex;
    justify-content: center;
    flex-direction: row;
    outline: transparent;
    width: 100%;
    gap: 2rem;
    }

    .web-link{
        display: flex;
        border-radius: 999px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .graphic-link{
        display: flex;
        border-radius: 999px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .tridi-link{
        display: flex;
        border-radius: 999px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .visual-link{
        display: flex;
        border-radius: 999px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .active {
    background-color: var(--dark-gray);
    color: var(--white);
    outline: 2px solid var(--black);
    transition: none;
    }

    .project-grid > a > img{
        border-radius: 24px;
    }

    .project-grid{
        --num-cols: 2;
        --num-cols: 200px;
    }
    
    .service-box{
        width: 350px;
        height: 380px;
        gap: 10px;
        padding: 3rem;
        border-radius: 24px;
    }

    .service-name{
        text-align: left;
    }

    .text-service{
        font-size: 1rem;
    }

    .availability {
    padding: 0.25rem;
    padding-top: 1rem;
    }
}

@media (max-width: 576px){
    h1{
        font-size: 4.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    
    h4{
        font-size: 1.25rem;
    }

    h3{
        text-align: center;
    }

    h2{
        font-size: 2.5rem;
        text-align: center;
    }

    .text-about{
        font-size: 1rem;
        text-align: center;
    }

    .dropdown-menu{
        left: 2rem;
        width: unset;
    }

    .dropdown-btn{
        width: 100%;
    }

    .profile-container{
        flex-direction: column;
    }

    .profile{
        width: 80%;   
    }

    #about{
        border-top-left-radius: 36px;
        border-top-right-radius: 36px;
    }

    .box{
        width: 115px;
        height: 130px;
        font-size: 1rem;
        border-radius: 18px;
    }

    .software-icon{
        height: 2rem;
    }

    #projects{
        border-top-left-radius: 36px;
        border-top-right-radius: 36px;
    }

    .project-tabs{
    gap: 0;
    }

    .web-link{
        border-radius: 30px 0 0 30px;
        outline: 2px solid var(--dark-gray);
    }

    .graphic-link{
        border-radius: 0;
        outline: 2px solid var(--dark-gray);
    }

    .tridi-link{
        border-radius: 0;
        outline: 2px solid var(--dark-gray);
    }

    .visual-link{
        border-radius: 0 30px 30px 0;
        outline: 2px solid var(--dark-gray);
    }

    .project-grid{
        --num-cols: 1;
        --num-cols: 100px;
    }

    .project-grid > a > img{
        border-radius: 18px;
    }

    .primary-image{
        grid-column: span 1;
        grid-row: span 1;
    }

    .proj-header{
    font-size: 1.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    }

    .service-box{
        width: 100%;
        height: 100%;
        gap: 10px;
        padding: 3rem;
        border-radius: 18px;
    }

    .foot-wrap{
        flex-direction: column;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    
    .text-copyright{
        font-size: 0.6rem;
    }

    .social-wrap{
        gap: 2rem;
    }

    .social-icon{
    height: auto;
    }
}
